{{ define "header" }}
<div class="flex justify-start">
    <h1 class="tracking-wide text-4xl py-3 pr-3">Roman Meredith</h1>
    <div class="shadow-2xl rounded-full text-xl px-3 my-4 bg-cyan-700">Programmer</div>
</div>
{{ end }}