{{ define "nav" }}
<a
  hx-post="/clicked?button=about-me"
  hx-trigger="click"
  hx-target="#body"
  class="{{call .NavButtonClass "about-me"}}"
>
  About Me
</a>
<a
  hx-post="/clicked?button=portfolio"
  hx-trigger="click"
  hx-target="#body"
  class="{{call .NavButtonClass "portfolio"}}"
>
  Portfolio
</a>
<a
  hx-post="/clicked?button=contact-me"
  hx-trigger="click"
  hx-target="#body"
  class="{{call .NavButtonClass "contact-me"}}"
>
  Contact Me
</a>
{{ end }}
